<ng-form name="secretForm">
  <div for="secretType" ng-if="!type" class="form-group">
    <label>Secret Type</label>
    <ui-select required ng-model="newSecret.type" search-enabled="false" ng-change="newSecret.authType = secretAuthTypeMap[newSecret.type].authTypes[0]">
      <ui-select-match>{{$select.selected + ' Secret'}}</ui-select-match>
      <ui-select-choices repeat="type in secretTypes">
        {{type  + ' Secret'}}
      </ui-select-choices>
    </ui-select>
  </div>

  <div class="form-group">
    <label for="secretName" class="required">Secret Name</label>
      <div>
        <input class="form-control"
          id="secretName"
          name="secretName"
          ng-model="newSecret.data.secretName"
          type="text"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          required>
      </div>
      <div class="help-block">
        Unique name of the new secret.
      </div>
  </div>
  <div class="form-group">
    <label for="authentificationType">Authetication Type</label>
    <ui-select required ng-model="newSecret.authType" search-enabled="false">
      <ui-select-match>{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="type in secretAuthTypeMap[newSecret.type].authTypes">
        {{type}}
      </ui-select-choices>
    </ui-select>
  </div>

  <div ng-if="newSecret.authType === 'Basic Authentication'">
    <div class="form-group">
      <label for="username">Username</label>
      <div>
        <input class="form-control"
          id="username"
          name="username"
          ng-model="newSecret.data.username"
          type="text"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false">
      </div>
      <div class="help-block">
        Optional username for SCM servers authentication.
      </div>
    </div>

    <div class="form-group">
      <label for="passwordToken" class="required">Password or Token</label>
      <div>
        <input class="form-control"
          id="passwordToken"
          name="passwordToken"
          ng-model="newSecret.data.passwordToken"
          type="text"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          required>
      </div>
      <div class="help-block">
        Password or token for SCM servers authentication.
      </div>
    </div>
  </div>

  <div ng-if="newSecret.authType === 'SSH Key'">
    <div class="form-group" id="private-key">
      <label for="privateKey" class="required">SSH Private Key</label>
      <osc-file-input 
        id="privateKey"
        model="newSecret.data.privateKey"
        drop-zone-id="private-key"
        dragging="false"
        help-text="Upload your private SSH key file."
        show-values="false"></osc-file-input>
      <div ui-ace="{
        theme: 'eclipse',
        onLoad: aceLoaded,
        rendererOptions: {
          fadeFoldWidgets: true,
          showPrintMargin: false 
        }
      }" ng-model="newSecret.data.privateKey" class="create-secret-editor ace-bordered" id="private-key-editor" required></div>
      <div class="help-block">
        Content of private SSH key file for SCM servers authentication.
      </div>
    </div>
  </div>
  
  <div ng-if="newSecret.type === 'source'">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="addGitconfig">
          Provide custom .gitconfig 
          <span class="help action-inline">
            <a href="">
              <i class="pficon pficon-help" aria-hidden="true"
              data-toggle="tooltip" data-original-title="Attach a content of your existing .gitconfig, to autheticate against Git server.">
            </i>
            </a>
          </span>
        </label>
      </div>
    </div>

    <div class="form-group" id="gitconfig" ng-show="addGitconfig">
      <label for="gitconfig">Git Configuration File</label>
      <osc-file-input 
        id="gitconfig"
        model="newSecret.data.gitconfig"
        drop-zone-id="gitconfig"
        dragging="false"
        help-text="Upload your .gitconfig or  file."
        show-values="false"></osc-file-input>
      <div ui-ace="{
        mode: 'ini',
        theme: 'eclipse',
        onLoad: aceLoaded,
        rendererOptions: {
          fadeFoldWidgets: true,
          showPrintMargin: false 
        }
      }" ng-model="newSecret.data.gitconfig" class="create-secret-editor ace-bordered" id="gitconfig-editor"></div>
    </div>
  </div>

  <div ng-if="newSecret.authType === 'Docker Registry Credentials'">
    <div class="form-group">
      <label for="dockerServer" class="required">Docker Registry Server Address</label>
      <div>
        <input class="form-control"
          id="dockerServer"
          name="dockerServer"
          ng-model="newSecret.data.dockerServer"
          type="text"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          required>
      </div>
      <div class="help-block">
        Address of the registry that you will authenticate against.
      </div>
    </div>

    <div class="form-group">
      <label for="dockerUsername" class="required">Docker Username</label>
      <div>
        <input class="form-control"
          id="dockerUsername"
          name="dockerUsername"
          ng-model="newSecret.data.dockerUsername"
          type="text"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          required>
      </div>
      <div class="help-block">
        Username used for authenticate against secured registry.
      </div>
    </div>

    <div class="form-group">
      <label for="dockerPassword" class="required">Docker Password</label>
      <div>
        <input class="form-control"
          id="dockerPassword"
          name="dockerPassword"
          ng-model="newSecret.data.dockerPassword"
          type="password"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          required>
      </div>
      <div class="help-block">
        Password used for authenticate against secured registry.
      </div>
    </div>

    <div class="form-group">
      <label for="dockerEmail" class="required">Docker Email</label>
      <div>
        <input class="form-control"
          type="email"
          id="dockerEmail"
          name="dockerEmail"
          ng-model="newSecret.data.dockerMail"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          required>
      </div>
      <div class="help-block">
        Email used for authenticate against secured registry.
      </div>
    </div>
  </div>

  <div ng-if="newSecret.authType === 'Docker Config'">
    <div class="form-group" id="docker-config">
      <label for="dockerConfig" class="required">Docker Configuration File</label>
      <osc-file-input 
        model="newSecret.data.dockerConfig"
        drop-zone-id="docker-config"
        dragging="false"
        help-text="Upload a .dockercfg or config.json file"
        show-values="false"></osc-file-input>
      <div ui-ace="{
        mode: 'json',
        theme: 'eclipse',
        onLoad: aceLoaded,
        rendererOptions: {
          fadeFoldWidgets: true,
          showPrintMargin: false 
        }
      }" ng-model="newSecret.data.dockerConfig" class="create-secret-editor ace-bordered" id="dockerconfig-editor" required></div>
      <div class="help-block">
        Content of Docker credentials file that stores information about registry you want to authenticate against.
      </div>
    </div>
  </div>

  <div ng-if="'serviceaccounts' | canI : 'update'">
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="linkSecret">
          Use this secret automatically for other builds.
          <span class="help action-inline">
            <a href="">
              <i class="pficon pficon-help" aria-hidden="true"
              data-toggle="tooltip" data-original-title="This will link the secret with the {{$scope.newSecret}} service account so it can be automatically use some forms of authentication, when referenced by Pod.">
            </i>
            </a>
          </span>
        </label>
      </div>
    </div>

    <div ng-if="!serviceAccountToLink && linkSecret">
      <div class="form-group">
        <label for="serviceAccount" class="required">Service Account</label>
        <ui-select required ng-model="newSecret.pickedServiceAccountToLink">
          <ui-select-match placeholder="Service Account Name">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="sa in (serviceAccountsNames | filter : $select.search)">
            <div ng-bind-html="sa | highlight : $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="form-group" >
        <label class="required">Link as</label>

        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="newSecret.linkAs.secrets" ng-checked="newSecret.linkAs.secrets">
              Link with {{newSecret.pickedServiceAccountToLink}} service account as a <b>source</b> secret.
              <span class="help action-inline">
                <a href="">
                  <i class="pficon pficon-help" aria-hidden="true"
                  data-toggle="tooltip" data-original-title="Pods using this service account will mount the content of secret into their containers for pulling sources during build time.">
                </i>
                </a>
              </span>
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="newSecret.linkAs.imagePullSecrets" ng-checked="newSecret.linkAs.imagePullSecrets">
              Link with {{newSecret.pickedServiceAccountToLink}} service account as a <b>image pull</b> secret.
              <span class="help action-inline">
                <a href="">
                  <i class="pficon pficon-help" aria-hidden="true"
                  data-toggle="tooltip" data-original-title="Pods using this service account will use provided creadentials to pull images for the pod’s containers.">
                </i>
                </a>
              </span>
            </label>
          </div>
        </div>
        <div class="help-block">
          Linking a secret enables a service account to automatically use that secret for some forms of authentication.
          <a href="{{'managing_secrets' | helpLink}}" aria-hidden="true" target="_blank"><span class="learn-more-inline">Learn more<i class="fa fa-external-link"></i></span></a>
        </div>

      </div>
    </div>
  </div>
</form>
  
