<h4>
  {{type}} Hook
  <small class="text-muted">{{hookParams.execNewPod ? "Runs a command in a new pod based on the specified container" : "Tags image on deployment success"}}</small>
  <span ng-switch="hookParams.failurePolicy">
    <small ng-switch-when="Ignore">(Continue with deployment on failure)</small>
    <small ng-switch-when="Abort">(Abort deployment on failure)</small>
    <small ng-switch-when="Retry">(Continue with deployment on failure)</small>
  </span>
</h4>
<dl class="dl-horizontal left">
  <div ng-if="hookParams.execNewPod">
    <h5 class="container-name">Container {{hookParams.execNewPod.containerName}}</h5>
    <dl class="dl-horizontal left">
      <div class="is-item-description">
        <dt>Command:</dt>
        <dd>
          <code class="probe-command">
            <span ng-repeat="arg in hookParams.execNewPod.command">
              <truncate-long-text content="arg" limit="80" newline-limit="1" expandable="false" use-word-boundary="false"></truncate-long-text>
            </span>
          </code>
        </dd>
        <div ng-if="hookParams.execNewPod.env">
          <dt>Environment Variables:</dt>
          <dd>
            <div ng-repeat="env in hookParams.execNewPod.env">
              {{env.name}}&#8201;&#8594;&#8201;{{env.value}}
            </div>
          </dd>
        </div>
        <div ng-if="hookParams.execNewPod.volumes">
          <dt>Volumes:</dt>
          <dd>
            <div ng-repeat="volume in hookParams.execNewPod.volumes">
              {{volume}}
            </div>
          </dd>
        </div>
      </div>
    </dl>
  </div>
  <div ng-if="hookParams.tagImages">
    <div ng-repeat="tagImage in hookParams.tagImages">
    <h5 class="container-name">Container {{tagImage.containerName}}</h5>
      <dl class="dl-horizontal left">
        <div class="is-item-description">
          <dt>Tag As:</dt>
          <dd>
            <a ng-href="{{tagImage.to.name | navigateResourceURL : 'ImageStreamTag' : namespace}}">
              {{tagImage.to | imageObjectRef : namespace}}</a>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</dl>