<ng-form name="secretsForm" class="osc-secrets-form">
  <div class="form-group">

    <label class="picker-label">{{displayType | startCase}} Secret</label>
    <ui-select ng-model="pickedSecret.name">
      <ui-select-match placeholder="Secret name">{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="secret in (secretsByType[type] | filter : $select.search)">
        <div ng-bind-html="secret | highlight : $select.search"></div>
      </ui-select-choices>
    </ui-select>
    <div ng-switch="displayType">
      <div class="help-block" ng-switch-when="source">
        Name of a secret that contains credentials used for pulling your source.
        <a href="{{'git_secret' | helpLink}}" aria-hidden="true" target="_blank"><span class="learn-more-inline">Learn more<i class="fa fa-external-link"></i></span></a>
      </div>
      <div class="help-block" ng-switch-when="pull">
        Name of a secret that will be used for setting up the authentication for pulling the Docker images from the private Docker registry or Docker Hub.
        <a href="{{'pull_secret' | helpLink}}" aria-hidden="true" target="_blank"><span class="learn-more-inline">Learn more<i class="fa fa-external-link"></i></span></a>
      </div>
      <div class="help-block" ng-switch-when="push">
        Name of a secret that will be used for setting up the authentication for executing the Docker images to the private Docker registry or Docker Hub.
        <a href="{{'pull_secret' | helpLink}}" aria-hidden="true" target="_blank"><span class="learn-more-inline">Learn more<i class="fa fa-external-link"></i></span></a>
      </div>
    </div>
  </div>

  <span>
    <a href=""
      ng-if="'secrets' | canI : 'create'"
      role="button" 
      ng-click="openCreateSecretModal()">Create {{displayType}} secret</a>
  </span>
    
</ng-form>
