<project-header class="top-header"></project-header>
  <project-page>

  <!-- Middle section -->
  <div class="middle-section">
    <div class="middle-container">
      <div class="middle-header">
        <div class="container-fluid">
          <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
          <alerts alerts="alerts"></alerts>
          <div ng-if="!loaded" class="mar-top-xl">Loading...</div>
          <div ng-if="secret">
            <h1>
              <div class="pull-right dropdown">
                <button type="button" class="dropdown-toggle btn btn-default actions-dropdown-btn hidden-xs" data-toggle="dropdown">
                  Actions
                  <span class="caret"></span>
                </button>
                <a href=""
                   class="dropdown-toggle actions-dropdown-kebab visible-xs-inline"
                   data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i><span class="sr-only">Actions</span></a>
                <ul class="dropdown-menu actions action-link">
                  <li ng-if="'secrets' | canI : 'update'">
                    <a ng-href="{{secret | editYamlURL}}" role="button">Edit YAML</a>
                  </li>
                  <li ng-if="'secrets' | canI : 'delete'">
                    <delete-link
                      kind="Secret"
                      resource-name="{{secret.metadata.name}}"
                      project-name="{{secret.metadata.namespace}}"
                      alerts="alerts">
                    </delete-link>
                  </li>
                </ul>
              </div>
              <small class="meta">created <relative-timestamp timestamp="secret.metadata.creationTimestamp"></relative-timestamp></small>
            </h1>
          </div>
        </div>
      </div><!-- /middle-header-->
      <div class="middle-content gutter-top">
        <div class="container-fluid">
          <div class="row" ng-if="secret">
            <div class="col-sm-12">
              <div class="resource-details secret-details">
                <dl class="dl-horizontal left">
                  <dt>Type:</dt>
                  <dd>{{secret.type}}</dd>

                  <div ng-if="secret.type === 'kubernetes.io/dockerconfigjson' || secret.type === 'kubernetes.io/dockercfg'">
                    <div ng-repeat="(serverName, data) in decodedSecretData" class="image-source-item">
                      <h4>{{serverName}}</h4>

                      <dt>Username:</dt>
                      <dd ng-if="showSecret">{{data.username}}</dd>
                      <dd ng-if="!showSecret">*****</dd>

                      <dt>Password:</dt>
                      <dd ng-if="showSecret">{{data.password}}</dd>
                      <dd ng-if="!showSecret">*****</dd>

                      <dt>Email:</dt>
                      <dd ng-if="showSecret">{{data.email}}</dd>
                      <dd ng-if="!showSecret">*****</dd>
                    </div>
                  </div>

                  <div ng-if="decodedSecretData.username">
                  <dt>Username:</dt>
                  <dd ng-if="showSecret">{{decodedSecretData.username}}</dd>
                  <dd ng-if="!showSecret">*****</dd>
                  </div>

                  <div ng-if="decodedSecretData.password">
                  <dt>Password:</dt>
                  <dd ng-if="showSecret">{{decodedSecretData.password}}</dd>
                  <dd ng-if="!showSecret">*****</dd>
                  </div>

                  <div ng-if="decodedSecretData['ssh-privatekey']">
                  <dt>SSH private key:</dt>
                  <dd ng-if="showSecret" class="gutter-bottom">
                    <div ui-ace="{
                      theme: 'dreamweaver',
                      onLoad: aceLoaded,
                      highlightActiveLine: false,
                      showGutter: false,
                      rendererOptions: {
                        fadeFoldWidgets: true,
                        highlightActiveLine: false,
                        showPrintMargin: false
                      },
                      advanced: {
                        highlightActiveLine: false
                      }
                    }" readonly ng-model="decodedSecretData['ssh-privatekey']" class="ace-bordered ace-read-only ace-inline secret-data"></div>
                  <dd ng-if="!showSecret">*****</dd>
                  </div>
                  <div ng-if="decodedSecretData['.gitconfig']">
                  <dt>Git configuration file:</dt>
                  <dd ng-if="showSecret" class="gutter-bottom">
                    <div ui-ace="{
                      mode: 'ini',
                      theme: 'dreamweaver',
                      onLoad: aceLoaded,
                      highlightActiveLine: false,
                      showGutter: false,
                      rendererOptions: {
                        fadeFoldWidgets: true,
                        highlightActiveLine: false,
                        showPrintMargin: false
                      },
                      advanced: {
                        highlightActiveLine: false
                      }
                    }" readonly ng-model="decodedSecretData['.gitconfig']" class="ace-bordered ace-read-only ace-inline secret-data"></div>
                  </dd>
                  <dd ng-if="!showSecret">*****</dd>
                  </div>

                </dl>
              </div>
              <a href="" ng-click="showSecret = !showSecret">{{showSecret ? "Hide" : "Show"}} secret data</a>
            </div><!-- /col-* -->
          </div>
        </div>
      </div><!-- /middle-content -->
    </div><!-- /middle-container -->
  </div><!-- /middle-section -->
  </project-page>
