<div class="create-secret-modal">
  <div class="modal-header">
    <h2>
      Create {{type | capitalize}} Secret
      <a href="{{'creating_secrets' | helpLink}}" aria-hidden="true" target="_blank"><span class="learn-more-inline">Learn more<i class="fa fa-external-link"></i></span></a>
    </h2>
  </div>

  <div class="modal-body">
    <alerts alerts="modalAlerts"></alerts>
    <create-secret type="type"
                    service-account-to-link="serviceAccountToLink"
                    namespace="namespace"
                    alerts="modalAlerts"
                    post-create-action="postCreateAction()"
                    cancel="cancel()"></create-secret>
  </div>
</div>
