<div class="create-secret-modal">
  <div class="modal-header">
    <h2>
      Create {{type | capitalize}} Secret
      <a ng-href="{{'creating_secrets' | helpLink}}" target="_blank"><span class="learn-more-inline">Learn more&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></span></a>
    </h2>
  </div>
  <div class="modal-body">
    <create-secret type="type"
                    service-account-to-link="serviceAccountToLink"
                    namespace="namespace"
                    alerts="alerts"
                    post-create-action="postCreateAction(newSecret, creationAlert)"
                    cancel="cancel()"></create-secret>
  </div>
</div>
