<div class="create-secret-modal">
  <div class="modal-header">
    <h2>
      Create {{type | capitalize}} Secret
      <a href="{{'creating_secrets' | helpLink}}" aria-hidden="true" target="_blank"><span class="learn-more-inline">Learn more<i class="fa fa-external-link"></i></span></a>
    </h2>
  </div>

  <div class="modal-body">
    <alerts alerts="modalAlerts"></alerts>
    <create-secret></create-secret>
  </div>
  <div class="modal-footer">
    <button class="btn btn-lg btn-primary"
            type="button"
            ng-disabled="secretForm.$invalid || secretForm.$pristine"
            ng-click="create()">Create</button>
    <button class="btn btn-lg btn-default"
            type="button"
            ng-click="cancel()">Cancel</button>
  </div>
</div>
