<default-header class="top-header"></default-header>
<div class="wrap no-sidebar">
  <div class="sidebar-left collapse navbar-collapse navbar-collapse-2">
    <navbar-utility-mobile></navbar-utility-mobile>
  </div>
  <div class="middle surface-shaded">
    <!-- Middle section -->
    <div class="middle-section" ng-show="deploymentConfig">
      <div class="middle-container">
        <div class="middle-content">
          <div class="container surface-shaded">
            <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
            <alerts alerts="alerts"></alerts>
            <div ng-if="!loaded">Loading...</div>
            <h1>
              Edit Deployment Config {{deploymentConfig.metadata.name}}
            </h1>
            <fieldset ng-disabled="disableInputs">
              <form class="edit-form" name="form" novalidate ng-submit="save()">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="section">
                      <h3>Deployment Strategy Configuration</h3>
                      <dl class="dl-horizontal left">
                        
                      </dl>
                    </div>


                    <div class="section">
                      <h3 class="with-divider">Image Configuration</h3>
                      <dl class="dl-horizontal left">
                        <osc-secrets model="pullSecrets"
                                    namespace="projectName"
                                    display-type="pull"
                                    type="image"
                                    secrets-by-type="secretsByType"
                                    service-account-to-link="builder"
                                    alerts="alerts"
                                    allow-multiple-secrets="true">
                        </osc-secrets>
                      </dl>
                    </div>


                    <div class="section">
                      <h3 class="with-divider">Environment Variables<span class="help action-inline">
                        <a href="">
                        <i class="pficon pficon-help" data-toggle="tooltip" aria-hidden="true" data-original-title="Environment variables are used to configure and pass information to running containers.  These environment variables will be available during your container's runtime."></i>
                        </a>
                      </span></h3>

                      <div ng-repeat="(containerName, containerEnvVars) in containersEnvVarMap" class="">
                        <div class="container-name">
                          <h4>Container {{containerName}}</h4>
                        </div>
                        <key-value-editor
                          ng-if="containerEnvVars"
                          entries="containerEnvVars"
                          key-validator="[a-zA-Z][a-zA-Z0-9_]*"
                          key-validator-error-tooltip="A valid environment variable name is an alphanumeric (a-z and 0-9) string beginning with a letter that may contain underscores."
                          add-row-link="Add environment variable"></key-value-editor>
                      </div>

                      <div>

                      </div>
                    </div>

                   
                  
<!--                     <div class="gutter-top">
                      <a href="" ng-click="view.advancedOptions = !view.advancedOptions" role="button">{{view.advancedOptions ? 'Hide' : 'Show'}} advanced options</a>
                    </div> -->

                    <div class="buttons gutter-top-bottom">
                      <button
                        type="submit"
                        class="btn btn-primary btn-lg"
                          ng-disabled="form.$invalid || form.$pristine || disableInputs">
                          Save
                      </button>
                      <a class="btn btn-default btn-lg"
                        href="{{updatedBuildConfig | navigateResourceURL}}">
                        Cancel
                      </a>
                    </div>
                  </div>
                </div>
              </form>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>